body {
  font-family: 'Archivo Narrow', sans-serif;
}
.header-lobs {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  h1 {
    margin: 0;
    font-size: 75px;
    letter-spacing: 14px;
  }
  h5 {
    margin: 50px 0 0 0;
    font-size: 23px;
    font-weight: 100;
  }
}

#mixcloud-player {
  position: fixed;
  bottom: 0;
}

.other-pages {
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  border-top: solid 1px gray;
  border-bottom: solid 1px gray;
  margin: 0 0 50px 0;
  padding: 0 15%;
  position: sticky;
  top: 0;
  background: white;
  z-index: 1000;
  a {
    color: black;
  }
}

.containing {
  display: flex;
  flex-wrap: wrap;
  max-width: 100vw;
  justify-content: center;
  .banner-newest-track {
    display: flex;
    width: 70%;
    margin: 0 0 50px 0;
    justify-content: space-between;
    .newest-track {
      width: 600px;
      height: 400px;
      cursor: pointer;
    }
    .newest-track-info {
      padding: 20px;
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .newest-track-head {
        font-size: 20px;
        font-weight: lighter;
      }
    }
  }
  .all-tracks {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 0 0;
    padding-bottom: 50px;
    .track-block {
      text-align: center;
      width: max-content;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      margin: 0 0 15px 0;
      &:hover {
        .track-info {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          color: white;
          background-color: rgba(20, 20, 20, 0.4);
          transition: all 0.5s ease;
          cursor: pointer;
        }
      }
      .track-card {
        width: 250px;
        height: 250px;
        background-repeat: no-repeat;
        background-size: contain;
      }
      .track-info {
        position: absolute;
        display: flex;
        width: 250px;
        height: 250px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: transparent;
        background-color: transparent;
        transition: all 0.5s ease;
      }
    }
  }
}

@media (max-width: 600px) {
  .header-lobs {
    height: 190px;
    h1 {
      font-size: 30px;
    }
    h5 {
      font-size: 20px;
    }
  }
  .other-pages {
    padding: 0 10%;
    a {
      font-size: 10px;
    }
  }
  .containing {
    .banner-newest-track {
      width: 80%;
      flex-direction: column;
      .newest-track {
        width: 100%;
        height: 220px;
        background-size: cover;
      }
    }
    .all-tracks {
      width: 80%;
      .track-block {
        .track-card, .track-info {
          /* width: 250px; */
          /* height: 250px; */
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}
